.container {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 6rem 0 6rem 8rem;

  overflow: hidden;

  gap: 6rem;
}

.title {
  padding-right: 8rem;
}

.cards {
  display: flex;
  justify-content: flex-start;

  gap: 4rem;

  overflow: auto;

  @media (max-width: 1024px) {
  }
}
