.container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  align-items: center;

  margin-bottom: 4rem;
}

.list {
  width: 100%;

  display: flex;
  overflow-x: auto;

  gap: 1rem;

  & > * {
    min-width: 100%;

    @media (min-width: 460px) {
      min-width: calc(50% - 1rem);
    }
  }
}
