.container {
  display: flex;
  flex-direction: column;

  align-items: flex-end;
  gap: 0.5rem;
}

.title {
  font-size: 30px;
  font-weight: 800;

  white-space: nowrap;
}

.line {
  width: 90px;
  height: 7px;
  background-color: #e0e1dd;
}
