.container {
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  justify-content: space-between;

  gap: 1rem;
  padding: 0 3rem 2.5rem 3rem;

  @media (min-width: 460px) {
    flex-direction: row;
    align-items: center;
  }
}

.credits {
  display: flex;
  flex-direction: column;

  & span {
    white-space: no-break;
  }

  &__link {
    font-weight: 600;
  }
}
