.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 3rem 2.5rem 3rem;
}

.credits {
  white-space: no-break;

  &__link {
    font-weight: 600;
  }
}
