.container {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.image {
  border-radius: 0.5rem;
}

.description {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.title {
  font-weight: bold;
  font-size: 1.125rem;
}

.subtitle {
  font-size: 1.125rem;
}
