.container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  align-items: center;

  margin-bottom: 4rem;
}

.list {
  display: flex;
  flex-direction: column;

  gap: 2rem;
}
